<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pro.android.justyle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/justyle_icon_cut"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/justyle_icon_cut"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".FrontPageActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CreateArticleActivity"/>
        <activity android:name=".MyWardrobeActivity"/>
        <activity android:name=".MarketplaceActivity"/>
        <activity android:name=".ViewArticleActivity"/>
        <activity android:name=".ViewMyWardrobeArticleActivity"/>
        <activity android:name=".MoreActivity"/>


        <activity android:name=".LoginActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <provider
            android:authorities="com.pro.android.justyle.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />






        </provider>
    </application>

</manifest>